// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';



.label-name {
	position: relative;
	left: 25%;
}

.container {
	left: 50px;
}

.challenge-header {
	left: 30px;
}

<<<<<<< HEAD
.search-bar {
  position:relative;
  margin-left: 240px;
}
=======

>>>>>>> 86525da07928b4955afc66f14f8244a4decf78b9
