<div class="container">
	<h3>Welcome to your future.</h3>

	<div class="search-bar">
		<input type="text" width="20" class="form-control">
		<%= link_to "New Challenge", new_challenge_path, class: "btn btn-success" %>
	</div>

	<% @challenges.each do |challenge| %>
		<div class="opening" >
			<h3><%= link_to challenge.title, challenge %></h3>
			<p><%= challenge.description %></p>
		</div>
	<% end %>
</div>